/*importações*/
@import url(style_imagem.css);
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: #F9EBB2;
    color: rgb(43, 43, 42);
    font-family: "Epunda Slab", serif;
    font-weight: 400;
    font-size: 1.4rem;
}

h1 {
    margin-block-end: 2px;
}

header {
    display: flex;
    flex-direction: column;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background-color: rgba(0, 0, 0, 0.753);
        color: aliceblue;

        padding: 0.3rem;
        margin-block-end: 20px;

        .left {
            display: flex;
            justify-content: flex-start;

        }

        .right {
            display: flex;
            justify-content: flex-end;
            gap: 10%;
        }
    }




    .inicio {
        display: flex;
        flex-direction: row;

        color: rgb(0, 0, 0);

        width: 100vw;
        height: 100vh;
        align-items: center;

        .imagem {
            background-image: url(/img/vangoghmuseum-s0273V1962-800.jpg);


            background-size: contain;
            background-repeat: no-repeat;

            border-radius: 2%;
            margin: 5%;
            max-width: 100%;
            width: 100vw;
            height: 60vh;
        }

        .descrição_inicial {
            font-size: min(max(1.1rem, 4vw), 1.3rem);
        }

    }

}

main {


    h2 {
        text-align: center;
    }

    div {
        margin: 2px;
    }

    .imagem {

        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 100%;
        width: 100vw;
        height: 60vh;
        align-content: center;
        color: transparent;
    }

    .ano {
        display: flex;
        flex-direction: row;

        width: 100vw;
        height: 100vh;
        margin-block-end: 30%;


        .obra {
            display: grid;
            align-items: center;
            flex: none;
            width: 100vw;
            height: 100vh;
            text-align: center;
            margin-block-end: 2%;
        }





    }


}