/*1885*/
.Os-Comedores-De-Batatas .imagem {
    background-image: url(/img/imagens_quadro/comedores-de-batatas.jpg);
}

.Natureza-Morta-Com-Biblia .imagem {
    background-image: url(/img/imagens_quadro/natureza-morta-com-biblia.jpg);
}

.Cabeça-de-Camponesa-Com-Capuz .imagem {
    background-image: url(/img/imagens_quadro/cabeca-de-camponesa-com-capuz.jpeg);
}

.Camponesa-Cavando .imagem {
    background-image: url(/img/imagens_quadro/camponesa-cavando.jpg);
}


/*1886*/
.Vista-do-Estudio-de-Vincent .imagem {
    background-image: url(/img/imagens_quadro/vista-do-estudio-de-vincent.jpg);
}

.A-Colina-de-Montmartre-com-Pedreira-de-Pedra .imagem {
    background-image: url(/img/imagens_quadro/a-colina-de-montmartre-com-pedreira-de-pedra.jpg);
}

.Vidro-com-Rosas-Amarelas .imagem {
    background-image: url(/img/imagens_quadro/vidro-com-rosas-amarelas.jpg);
}

.Camaroes-e-mexilhoes .imagem {
    background-image: url(/img/imagens_quadro/camaroes-e-mexilhoes.jpg);
}


/*1887*/
.Auto-Retrato-Com-Chapeu-De-Palha .imagem {
    background-image: url(/img/imagens_quadro/auto-retrato-com-chapeu-de-palha.jpg);
}

.Arvores-e-Sub-bosque .imagem {
    background-image: url(/img/imagens_quadro/arvores-e-sub-bosque.jpg);
}

.Retrato-de-Pere-Tanguy-1887 .imagem {
    background-image: url(/img/imagens_quadro/retrato-de-pere-tanguy.JPG);
}

.Vista-de-Paris .imagem {
    background-image: url(/img/imagens_quadro/vista-de-paris.jpg);
}

/*1888*/

.Quarto-Em-Arles .imagem {
    background-image: url(/img/imagens_quadro/quarto-em-arles.jpg);
}

.Quinta-em-um-campo-de-trigo .imagem {
    background-image: url(/img/imagens_quadro/quinta-em-um-campo-de-trigo.jpg);
}

.Paisagem-em-Les-Saintes-Maries-de-la-Mer .imagem {
    background-image: url(/img/imagens_quadro/paisagem-em-les-saintes-maries-de-la-mer.jpg);
}

.A-Noite-Estrelada-Sobre-O-Rodano .imagem {
    background-image: url(/img/imagens_quadro/a-noite-estrelada-sobre-o-rodano.jpg);
}

/*1889*/

.A-Noite-Estrelada .imagem {
    background-image: url(/img/imagens_quadro/a-noite-estrelada.jpg);
}

.Sub-crescimento .imagem {
    background-image: url(/img/imagens_quadro/sub-crescimento.jpg);
}

.Lirios .imagem {
    background-image: url(/img/imagens_quadro/lirios.jpg);
}

.Auto-Retrato-Orelha-Cortada .imagem {
    background-image: url(/img/imagens_quadro/autorretrato-com-orelha-cortada.jpg);
}

/*1890*/

.Campo-de-Trigo-com-Corvos .imagem {
    background-image: url(/img/imagens_quadro/campo-de-trigo-com-corvo.jpg);
}

.Retrato-do-Doutor-Gachet .imagem {
    background-image: url(/img/imagens_quadro/retrato-do-doutor-gachet.jpg);
}

.Igreja-de-Auvers .imagem {
    background-image: url(/img/imagens_quadro/igreja-de-auvers.jpg);
}

.Raizes-e-Troncos .imagem {
    background-image: url(/img/imagens_quadro/raizes-e-troncos.jpg);
}